QWidget {
    border: 1px solid red;
}

QLabel {
  font-family: "Comfortaa";
  color: black;
  font-size: 16px;
}

QLabel#title {
  font-size: 28px;
  margin-top: 16px;
  margin-left: 16px;
}

QLabel#subtitle {
  font-size: 22px;
  margin-left: 16px;
}

QLabel#presenter_name {
  margin-top: 8px;
  margin-bottom: 0px;
}

QLabel#presenter_affiliation {
  color: gray;
  font-size: 12px;
}

QLabel#message {
  font-size: 12px;
}

QFrame#header {
  background-color: blue;
}