QWidget {
    border: 0px solid red;
}

QLabel {
  font-family: "Comfortaa";
  color: black;
  font-size: 24px;
}

QTreeWidget {
  font-size: 24px;
}

QTreeWidget::item {
  font-size: 24px;
}

QHeaderView::section {
    font-size: 28px;
}

QLabel#title {
  font-size: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
}

QLabel#subtitle {
  font-size: 32px;
  margin-bottom: 12px;
  margin-left: 0px;
}

QLabel#headshot {
  max-width: 250px;
  max-height: 250px;
}

QLabel#qr_code {
  max-width: 250px;
  max-height: 250px;
}

QLabel#presenter_name {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 400px;
}

QLabel#presenter_affiliation {
  font-size: 30px;
  color: gray;
}

QLabel#status_message {
  font-size: 24px;
}

QTableWidget#roster_table {
  font-size: 28px;
  min-height: 180px;
}